html {
  background: #252525 url('bg.png') top left;
  background-image: url('bg.png');
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-position-x: 0%;
  background-position-y: 0%;
  background-origin: initial;
  background-clip: initial;
  background-color: #252525;
}

#main {
  background: white;
  width: 28em;
  height: 14em;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  margin: 8em auto;
  color: #222;
}

nav#content {
  background: white;
  float: left;
  padding-left: 1em;
}

nav#content p {
  line-height: 1.5em;
  max-width: 14em;
}

nav#content h1 {
  padding-top: .35em;
  font-size: 30px;
}

nav#content a {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: #222;
}

nav#content a:hover {
  color: white;
  background-color: #222;
  border-bottom: none;
}

img#avatar {
  float: left;
  padding-top: 1.5em;
  padding-left: 2em;
  padding-right: 1em;
  padding-bottom: 1em;
}

