
#contactform input, #contactform textarea{ padding:2px; border-bottom: 1px solid #fff; border-right: 1px solid #fff;border-top: 1px solid #ccc; border-left: 1px solid #ccc; background:#f5f5f5; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666; width:245px; margin-bottom:3px; font-style:normal; display:block;
	}
.jx-nav-menu ul li a:link, .jx-nav-menu ul li a:visited  {
	display:block;
	text-decoration:none;
	color:#777;
	background:#fff; 
	padding:8px;
	border:1px solid #eee; 
	border-bottom:0px;
}
.jx-nav-menu ul li a:hover  {
	display:block;
	text-decoration:none;
	color:#fff;
	background:#333;
	padding:8px;
	border:1px solid #eee; 
	border-bottom:0px;
}
#personal_details ul li {
	display: inline-block; 
	overflow:hidden;
	border-top:1px solid #999;
	padding:6px;
	background:none;
}
.company_logo { 
float:right;
display:block;
margin-bottom:60px;
margin-left:10px;
background: #f2f2f2;
padding:4px;
}

/* last projects  ================================================================================= */
#last_pro img { 
background: #f2f2f2;
padding:6px;
margin-right:8px;
}

.portfolio_item img {
	background: #f2f2f2;
padding:5px;
	float:left;
	margin-right:35px;
	display:inline;
}
.portfolio_item_screen img {
	background:#ccc;
padding:5px;
	margin-bottom:50px;
}