body {
	margin:0;
	padding:0;
	font-family:"Lucida Grande", Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
	background:#f9f9f9;
	}

h1 {font-size:21px;}

h3 {color:#369;}

h2 {font-size:18px;}

h3 {font-size:14px;}

a {
	color:#369;
	text-decoration:none;
	}

a:hover {text-decoration:underline;}

p {margin-top:20px;}

li.toc {list-style:none}

li {list-style:square inside}

.container_16, .text_box {
	line-height:25px;
	}

.line_close {
	margin-top:20px;
	margin-bottom:20px;
	border-bottom:#dfdfdf 1px solid;
	}

#header-wrap {background:#222;}

.doc_title {
	float:right;
	color:#999;
	}

.header {
	padding-top:15px;
	padding-bottom:15px;
	margin-bottom:20px;
	}

.header h3 {color:#fff;}

.textLink {}

.info {margin-bottom:10px;}

.thanks {margin-bottom:20px;}

#tableoc {}

.arrow_top {
	background:url(../images/arrow_top.png) top left no-repeat;
	padding-left:18px
	}

pre {color:#999;}

.footer {
	margin-top:50px;
	margin-bottom:50px;
	}
	
.footer-wrapper {

	}
	
.notice {
	padding:5px 10px 5px 10px;
	background:#fff;
	font-weight:bold;
	/*color:#900;*/
	}
	
.text_medium {font-size:16px}

.thumb_align {float:right;margin-top:-90px;}
