
#contactform input, #contactform textarea{ padding:2px; border-bottom: 1px solid #fff; border-right: 1px solid #fff;border-top: 1px solid #ccc; border-left: 1px solid #ccc; background:#f5f5f5; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666; width:245px; margin-bottom:3px; font-style:normal; display:block;
	}
#box {
	background:none;
width:150px;
	height:450px;
	position:fixed;
	font-size:14px;
	text-align:right;
	top:0px; 
	left:0px;
	margin-left:45px;
}	
/* column left  ================================================================================= */
#column_right {
	width:510px;
	float:right;
    display:inline;
		margin-right:35px;
}

            * html #box {
	            position	: absolute;
	            behavior 	: url("ie-fixed.htc");			   
            }
	
			

            * html {
	            background: url(0) fixed;
			
            }
			
			#personal_details ul li {
	display: inline-block; 
	overflow:hidden;
	border-top:1px solid #0F0F0F;
	padding:6px;
	background:none;
}
.company_logo { 
float:right;
display:block;
margin-bottom:60px;
margin-left:10px;
background: #0F0F0F;
padding:4px;
}

/* last projects  ================================================================================= */
#last_pro img { 
background: #0F0F0F;
padding:6px;
margin-right:8px;
}

.portfolio_item img {
	background: #0F0F0F;
padding:5px;
	float:left;
	margin-right:35px;
	display:inline;
}